@model List<ProductViewModel>

@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6">
        <div class="single-product">
            <img class="img-fluid" src="@item.ThumbnailImage" alt="@item.Name">
            <div class="product-details">
                <h6>@item.Name</h6>
                <div class="price">
                    <h6>@item.Price</h6>
                    <h6 class="l-through">@item.Price</h6>
                </div>
                <div class="prd-bottom">

                    <a href="" class="social-info">
                        <span class="ti-bag"></span>
                        <p class="hover-text">Sepete Ekle</p>
                    </a>
                    <a href="" class="social-info">
                        <span class="lnr lnr-heart"></span>
                        <p class="hover-text">İstek Listesi</p>
                    </a>
                    <a href="" class="social-info">
                        <span class="lnr lnr-sync"></span>
                        <p class="hover-text">Birleştir</p>
                    </a>
                    <a href="" class="social-info">
                        <span class="lnr lnr-move"></span>
                        <p class="hover-text">Detaylar</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
}
