@model PaymentViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Ödeme Sayfası</h1>
                <nav class="d-flex align-items-center">
                    <a asp-action="Index" asp-controller="Home">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="single-product.html">Ödeme</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Fatura Bilgileri</h3>
                    <form class="row contact_form" asp-action="ConfirmPayment" asp-controller="Sale" method="post" novalidate="novalidate">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="first" asp-for="User.Name" readonly>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="last" asp-for="User.Surname" readonly>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="company" asp-for="User.Address" placeholder="Adres" readonly>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="number" asp-for="User.PhoneNumber" readonly>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="email" asp-for="User.Email" readonly>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="şehir" asp-for="city" placeholder="Şehir">
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="mahalle"  asp-for="neighbourhood" placeholder="Mahalle">
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="bina" asp-for="aptNo" placeholder="Bina No">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="postakodu" asp-for="postCode" placeholder="Posta Kodu">
                        </div>
                        <div class="col-lg-4">
                            <div class="order_box">
                                <h2>Faturanız</h2>
                                <ul class="list">
                                    <li class="list-group-item d-flex justify-content-between">
                                        <strong class="text-start">ÜRÜN</strong>
                                        <strong class="text-center">ADET</strong>
                                        <strong class="text-right">FİYAT</strong>
                                    </li>
                                    @foreach (var item in Model.cardLines)
                                    {
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span class="text-start">@item.ProductName</span>
                                            <span class="text-center">@item.Quantity</span>
                                            <span class="text-right">@item.Price</span>
                                        </li>
                                    }
                                </ul>
                                <ul class="list list_2 mt-5">
                                    <input type="hidden" asp-for="totalPrice" value="@Model.totalPrice" />
                                    <li><strong>Toplam Fiyat : </strong><span>@Model.totalPrice</span></li>
                                </ul>
                                <button class="primary-btn mt-5" type="submit">Ödeme Yap</button>
                            </div>
                        </div>
                        <partial name="CreaditCardPartialView" />
                    </form>
                     
                 </div>

                
            </div>
        </div>
    </div>
</section>