@model ProductViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>@Model.Name Detayları</h1>
				<nav class="d-flex align-items-center">
					<a href="index.html">Anasayfa<span class="lnr lnr-arrow-right"></span></a>
					<a href="#">Ürünler<span class="lnr lnr-arrow-right"></span></a>
					<a href="single-product.html">Ürün Detayları</a>
				</nav>
			</div>
		</div>
	</div>
</section>

<div class="product_image_area m-5">
	<div class="container">
		<div class="row s_product_inner">
			<div class="col-lg-6">
				<div class="s_Product_carousel">
					<div class="single-prd-item">
						<img class="img-fluid" src="@Model.ThumbnailImage" alt="@Model.Name">
					</div>
					<div class="single-prd-item">
						<img class="img-fluid" src="@Model.ContentImage" alt="@Model.Name">
					</div>
					<div class="single-prd-item">
						<img class="img-fluid" src="@Model.ContentImage2" alt="@Model.Name">
					</div>
					<div class="single-prd-item">
						<img class="img-fluid" src="@Model.ContentImage3" alt="@Model.Name">
					</div>
					<div class="single-prd-item">
						<img class="img-fluid" src="@Model.ContentImage4" alt="@Model.Name">
					</div>
				</div>
			</div>
			<div class="col-lg-5 offset-lg-1">
				<div class="s_product_text">
					<h3>@Model.Name</h3>
					<h2>@Model.Price</h2>
					<ul class="list">
						<li><a class="active" href="#"><span>KATEGORİ :</span> @Model.Category.CategoryName</a></li>
						<li><a href="#"><span>Stok Durumu</span> : Stokta Var</a></li			@* Stokla ilgili kontroller yapılacak *@
					</ul>
					<p>
						@Model.Description
					</p>
					@* <div class="product_count">
						<label for="qty">Quantity:</label>
						<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
						<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
								class="increase items-count" type="button">
							<i class="lnr lnr-chevron-up"></i>
						</button>
						<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
								class="reduced items-count" type="button">
							<i class="lnr lnr-chevron-down"></i>
						</button>
					</div> *@
					<div class="card_area d-flex align-items-center">
						<form asp-action="Add" asp-controller="Card" asp-route-id="@Model.Id" method="post">
                            <input type="hidden" name="productId" value="@Model.Id" />
                            <input type="hidden" name="quantity" id="quantity" value="1" />

                            <button type="submit" class="primary-btn">Sepete Ekle</button>
                        </form>
						<a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
						<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--COMMEND AREA -->
<section class="product_description_area">
		<div class="container">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
					 aria-selected="false">Specification</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
					 aria-selected="false">Comments</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
					<p>
						@Model.Description
					</p>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="table-responsive">
						 <h3>@Model.Name Özellikleri</h3>
                            <table class="table-striped w-100">
                                <tbody>
                                    @foreach (var item in Model.ProductFeatures)
                                    {
                                        <tr>
                                            <td>@item.Key :</td>
                                            <td>@item.value</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
					</div>
				</div>
				<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
					<div class="row">
						<div class="col-lg-6">
							<div class="comment_list">
								<div class="review_item">
									<div class="media">
									@if (Model.Commands == null)
									{
										<div class="alert alert-danger" role="alert" style="width:100%;">
											<strong>Bu ürüne ait yorum bulunamamaktadır. </strong>
										</div>
									}
									else
									{
										@foreach(var item in Model.Commands)
										{
											<div class="d-flex">
											<h2>@item.User.Name @item.User.Surname</h2>
										</div>
										<div class="media-body">
										<h5>@item.DateTime</h5>
										</div>
									
									<p>@item.Content</p>
										}
									}
										</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="review_box">
								<h4>Yorum Yap</h4>
								<form class="row contact_form" asp-action="AddCommand" asp-controller="Product" method="post" id="contactForm" novalidate="novalidate">
									<input type="hidden" value="@Model.Id" name="product"/>
									<div class="col-md-12">
										<div class="form-group">
											<textarea class="form-control" id="message" rows="1" name="Content" placeholder="Yorumunuz"></textarea>
										</div>
									</div>
									<div class="col-md-12 text-right">
										<button type="submit" value="submit" class="btn primary-btn">Gönder</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
