@model List<CardLineViewModel>


<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Sepet</h1>
                <nav class="d-flex align-items-center">
                    <a asp-action="Index" asp-controller="Product" asp-route-id="card.Id ">Ürünler<span class="lnr lnr-arrow-right"></span></a>
                    <a asp-action="Index" asp-controller="Card" asp-route-id="card.Id ">Sepetim</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Cart Area =================-->
@if (Model.Count() > 0)
{
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col">Ürünler</th>
                                <th class="col">Fiyat</th>
                                <th class="col">Adet</th>
                                <th class="col">Toplam</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr data-product-id="@item.CardId">
                                    <td>
                                        <div class="media">
                                            <div class="d-flex m-5" style="height: 150px; width:150px;">
                                                <img src="@item.ProductViewModel.ThumbnailImage" alt="@item.ProductName">
                                            </div>
                                            <div class="media-body">
                                                <p>@item.ProductViewModel.Description</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5>@item.Price.ToString("C")</h5>
                                    </td>
                                    <td>
                                        <button style="border-radius:50%;" onclick="decrease(@item.ProductId, @item.Price)" class="mr-3 btn-outline-danger"><i class="fa-solid fa-minus"></i></button>
                                        <div class="cart-product-quantity d-inline">
                                            <p class="d-inline"><strong id="quantityid_@item.ProductId">@item.Quantity</strong></p>
                                        </div><!-- End .cart-product-quantity -->
                                        <button style="border-radius:50%;" onclick="increase(@item.ProductId, @item.Price)" class="ml-3 btn-outline-success"><i class="fa-solid fa-plus"></i></button>
                                    </td>
                                    <td class="total-col"> <h5 id="totalprice_@item.ProductId">@((item.Price * item.Quantity).ToString("C"))</h5></td>
                                    <td class="remove-col"><a asp-action="DeleteCart" asp-controller="Cart" asp-route-id="@item.ProductId" class="btn-remove"><i class="icon-close"></i></a></td>
                                </tr>
                            }
                            <tr class="bottom_button">
                                <td>
                                    <a class="gray_btn" asp-action="Index" asp-controller="Card">SEPETİ GÜNCELLE</a>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <div class="cupon_text d-flex align-items-center">
                                        <input type="text" placeholder="KUPON KODU">
                                        <a class="primary-btn" href="#">KULLAN</a>
                                        <a class="gray_btn" href="#">KUPONLARIM</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <h5>Ara Toplam</h5>
                                </td>
                                <td>
                                    <h5>Ara Toplam</h5>
                                </td>
                                <td colspan="2">
                                    <input type="hidden" id="totalPrice" value="@ViewBag.Card">
                                    <h5 id="totalPriceDisplay">@ViewBag.Card</h5>
                                </td>
                            </tr>
                            <tr class="shipping_area">
                                <td>
                                </td>
                                <td>
                                </td>
                                <td colspan="2">
                                    <div class="shipping_box">
                                        <h5>Kargo Bilgileri</h5>
                                        
                                            <input type="radio" name="shippingMethod" id="freeRadio" value="free" style="height:15px"> 
                                            Ücretsiz Kargo (1 Hafta)
                                            <input type="radio" name="shippingMethod" id="arasRadio" value="aras" style="height:15px"> 
                                            Aras Kargo : ₺39.99

                                    </div>
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" asp-action="Index" asp-controller="Product">Alışverişe Devam Et</a>
                                        <a class="primary-btn" asp-action="Index" asp-controller="Sale">Ödemeye Geç</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <br />
    <br />
    <div class="m-5" style="align-items: center;display: flex;justify-content: center;">
        <img src="~/images/cart.png">
    </div>
    <br />
    <div class="text-center">
        <p style="font-size:30px;">Sepetinizde Ürün Bulunmamaktadır</p>
    </div>
    <br />
    <br />
}
